<html>

  <head> 
    <title>{language_name_english} ({bcp_47_code})</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/res/main.css"/>
    <link rel="stylesheet" href="/res/lang_template.css"/>
  </head>

  <body>


    <ul class="navbar">
      <li><a href="/index.html">An Crúbadán</a></li>
      <li>::</li>
      <li><a href="/writing_systems.html">Downloads</a></li>
      <li>::</li>
      <li><a href="/applications.html">Applications</a></li>
      <li>::</li>
      <li><a href="/acknowledgments.html">Acknowledgments</a></li>
    </ul>

    <div class="paper">
      <div class="content">

        <div class="head">
          <h1 class="ws_title">{language_name_english} ({bcp_47_code}): <span class="resource"><a href="/dist/{bcp_47_code}.zip">{bcp_47_code}.zip</a> ({zip_size})</span></h1>
        </div>

        <div class="info">

          <h2>Corpus Statistics</h2>
          <div class="mainlist">
            <div class="main">
              <div class="key">Documents Crawled</div>
              <div class="value">{documents_crawled}</div>
            </div>
            <div class="main">
              <div class="key">Words</div>
              <div class="value">{words}</div>
            </div>
          </div>

          <h2>Writing System Attributes</h2>
          <div class="mainlist">
            <div class="main">
              <div class="key">BCP-47 Code</div>
              <div class="value">{bcp_47_code}</div></div>
            <div class="main">
              <div class="key">Language Name (English)</div>
              <div class="value">{language_name_english}</div></div>
            <div class="main">
              <div class="key">Language Name (Autonym)</div>
              <div class="value">{language_name_native}</div></div>
            <div class="main">
              <div class="key">ISO 639-3 Code</div>
              <div class="value">{iso_639_3_code}</div></div>
            <div class="main">
              <div class="key">Country</div>
              <div class="value">{country}</div></div>
            <div class="main">
              <div class="key">Script</div>
              <div class="value">{script}</div></div>
            <div class="main">
              <div class="key">Parent Language</div>
              <div class="value">{parent_language}</div></div>
            <div class="main">
              <div class="key">Child Languages</div>
              <div class="value">{child_languages}</div></div>
            <div class="main">
              <div class="key">Linguistic Classification</div>
              <div class="value">{linguistic_classification}</div></div>
          </div>

          <h2>Linguistic Resources<h2>
          <ul class="linklist">
            <li><a href="{ethnologue_link}">Ethnologue</a></li>
            <li><a href="{glottolog_link}">Glottolog</a></li>
            <li><a href="{olac_link}">OLAC</a></li>
            <li><a href="{phoible_link}">PHOIBLE</a></li>
            <li><a href="{unesco_link}">UNESCO Atlas</a></li>
          </ul>

          <h2>Primary Texts Online<h2>
          <ul class="linklist">
            <li><a href="{tweets_link}">Indigenous Tweets</a></li>
            <li><a href="{blogs_link}">Indigenous Blogs</a></li>
            <li><a href="{wikipedia_link}">Wikipedia</a></li>
            <li><a href="{bible_link}">Bible Text</a></li>
            <li><a href="{udhr_link}">UDHR</a></li>
            <li><a href="{jw_link}">jw.org</a></li>
            <li><a href="{sample_link}">Sample Text</a></li>
          </ul>

        </div>

      </div>
    </div>

  </body>

</html>
