# cloudflare r2 or some other cloud storage
R2_ACCESS_KEY_ID=YOUR_R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_R2_SECRET_ACCESS_KEY
R2_ACCOUNT_ID=YOUR_R2_ACCOUNT_ID
R2_BUCKET_NAME=YOUR_R2_BUCKET_NAME

# neon postgres or some other remote postgres db
HOST=YOUR_HOST
PORT=YOUR_PORT
USER=YOUR_USER
PASSWORD=YOUR_PASSWORD
DBNAME=YOUR_DBNAME

# local postgres 
LOCAL_HOST=postgres
LOCAL_PORT=5432
LOCAL_USER=ducklake_user
LOCAL_PASSWORD=ducklake_password
LOCAL_DBNAME=ducklake_catalog