src/frontend/node_modules
terraform.tfstate
terraform.tfstate.backup
.idea/*
src/frontend/.idea/*
*/.idea/*
.terraform/*
src/backend/__pycache__/
github-sa-key.json
src/backend/.env
src/frontend/package-lock.json
.DS_Store
src/.DS_Store
src/backend/.DS_Store
*.pyc
*.DS_Store
*pkl
src/backend/data/full_index_visualization_bibliography_0_0_1.json
src/backend/data/full_index_visualization_bibliography_0_0_2.json
src/backend/data/full_index_visualization_cairo_genizah_image_v_1_1_4.json
src/backend/data/full_index_visualization_cairo_genizah_text_v_1_1_2.json
src/backend/data/full_index_visualization_cairo_genizah_text_v_1_1_4.json
src/backend/data/full_index_visualization_cairo_genizah_text_v_1_1_5.json
src/backend/data/full_index_visualization_cairo_genizah_text_v_1_1_6י.json
src/backend/data/full_index_visualization_genizah_bibliography_0_0_2.json
