# =============================================================================
# CROILAR-DAGSTER - Local development environment
# =============================================================================
CROILAR_DAGSTER_PORT=3336
DAGSTER_ENV=local
DAGSTER_HOME=./dagster_home
DUCKDB_PATH=./storage/croilar.duckdb
LANCEDB_URI=./storage/lancedb_data_cv
