# export LINUX_CONFIG=/var/home/tpasch/scm/linux-config
export LINUX_CONFIG=/stratis/home/tpasch/dev/scm/aanno/github/linux-config
# export WORKSPACE_FOLDER=/var/home/tpasch/scm/filehistogram
# export WORKSPACE_FOLDER=/stratis/home/tpasch/dev/filehistogram
export CONTAINER_USERID=1000

export VENV=/stratis/home/tpasch/venv/rust-python

# needed for coverage over threads and processes
export COVERAGE_PROCESS_START=/workspaces/rust/.coveragerc

# needed for python logging
export WORKSPACE=/workspaces/rust
