@font-face {
font-family: "Liberation Serif";
font-style: italic;
font-weight: normal;
src:url(../fonts/Times_New_Roman_Italic.ttf);
}
span.entity {
	font-family: "Liberation Serif";
	font-style: italic;
}
img#cover_image:only-of-type { /*overrides the previous setting, but only in newer systems that support CSS3 */
    height: 99vh;
}body.cover {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	background-color:#000000;
}
a{
	text-decoration: none;
	display: inline;
}
div.cover {
	text-align: center;
}
/* added styles by EK*/
ol.footnotes {
	padding-left: 0em;
	margin : 0em 0em 0em 0em;
}
li {
	list-style-type:none;
}
p.TNI {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.TNIS {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:1.2em;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
figure.IMGR {
	float: right;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	text-indent: 0em;
	margin-right: 0em;
	margin-left: 0em;
	padding-left: 1em;
	text-align: center;
}

figure.IMG {
	display: block;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	text-indent: 0em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
}
figure.IMG-CT {
	display: block;
	margin-bottom: 0em;
	margin-top: 0em;
	text-indent: 0em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
}
figure.IMG-CT1 {
	display: block;
	margin-bottom: 20px;
	margin-top: 70px;
	text-indent: 0em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
}

img.img90 {
	width:90%;
}
img.img50 {
	width:50%;
}
img.img40 {
	width:40%;
}
img.img30 {
	width:20%;
}
body {
	line-height: 1.25;
}
table.Basic-Table {
	margin-bottom:0px;
	margin-top:0px;
	width: 100%;
}
td.Basic-Table {
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.ACH {
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:15px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.ACH1 {
	font-size:0.75em;
	font-style:normal;
	font-weight:600;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:15px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.ACH2 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:15px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.ACL {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:4px;
	margin-left:0em;
	margin-right:0em;
	margin-top:4px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.ACL2 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:10px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.ACLF {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:3px;
	margin-left:0em;
	margin-right:0em;
	margin-top:4px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.ACLL1 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:3px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
h1.BM-Head-bmh {
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:60px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
h1.BMH {
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:60px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
h2.BMH1 {
	page-break-after: avoid;
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:60px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.BMTNI1 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.BMTX {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
li.CBMH {
	font-size:1em;
	font-style:italic;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
li.CBMH1 {
	font-size:1em;
	font-style:italic;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:16px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
li.CCT {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.3em;
	margin-right:1.2em;
	margin-top:3px;
	text-align:justify;
	text-decoration:none;
	text-indent:-1.3em;
}
li.CCT1 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.3em;
	margin-right:1.2em;
	margin-top:16px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.CH1 {
	font-size:1.083em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:8px;
	margin-left:0em;
	margin-right:0em;
	margin-top:30px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
span.CT {
	font-size:2.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:20px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	display:block;
}
h1.CT1 {
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:40px;
	margin-left:0em;
	margin-right:0em;
	margin-top:20px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
span.CN {
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:20px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	display:block;
}
h1.CTINT {
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:60px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.DED {
	font-size:0.958em;
	font-style:italic;
	font-weight:normal;
	margin-bottom:10px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.DED1 {
	font-size:0.958em;
	font-style:italic;
	font-weight:normal;
	margin-bottom:10px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
h2.ENH {
	page-break-after: avoid;
	font-size:0.833em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:5px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
h2.ENH1 {
	page-break-after: avoid;
	font-size:0.833em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:5px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.EX1 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.4em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
p.EX2 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:3.8em;
	margin-right:2.4em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:-1.4em;
}
p.EX3 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:3.8em;
	margin-right:2.4em;
	margin-top:16px;
	text-align:left;
	text-decoration:none;
	text-indent:-1.4em;
}
p.EX4 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:16px;
	margin-left:1.4em;
	margin-right:1.4em;
	margin-top:16px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.EXF {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.4em;
	margin-right:1.4em;
	margin-top:16px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.EXF1 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:3.8em;
	margin-right:2.4em;
	margin-top:16px;
	text-align:left;
	text-decoration:none;
	text-indent:-1.4em;
}
p.EXH {
	font-size:0.875em;
	font-style:italic;
	font-weight:600;
	margin-bottom:0em;
	margin-left:1.4em;
	margin-right:1.4em;
	margin-top:16px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.EXI {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.4em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
p.EXL1 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:16px;
	margin-left:1.4em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
h1.FMH {
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:60px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
h1.FMH1 {
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:60px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.FMH2 {
	font-size:1.608em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:60px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.FMTNI {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.FMTX {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
p.GL {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.4em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-1.4em;
}
p.GL1 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.4em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
p.GLEX {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:16px;
	margin-left:2.8em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
p.GLEX1 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:2.8em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
p.GLEXF {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:16px;
	margin-left:2.8em;
	margin-right:1.4em;
	margin-top:16px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.GLEXF1 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:2.8em;
	margin-right:1.4em;
	margin-top:16px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.GLH {
	font-size:1.333em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:18px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.GLH1 {
	font-size:1.333em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.GLTNI {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.4em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-1.4em;
}
p.HEAD {
	font-size:0.875em;
	font-style:normal;
	font-weight:600;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:25px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.INTROH {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:19px;
	margin-left:0em;
	margin-right:0em;
	margin-top:19px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.INTROHEAD {
	font-size:1.083em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:8px;
	margin-left:0em;
	margin-right:0em;
	margin-top:24px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.INTROTNI {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.INTROTX {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
li.IX {
	font-size:0.708em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
li.IXA {
	font-size:0.708em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:14px;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
li.IXS {
	font-size:0.708em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
p.NL1 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:3.6em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:-2.2em;
}
p.NLF1 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:3.6em;
	margin-right:1.4em;
	margin-top:16px;
	text-align:left;
	text-decoration:none;
	text-indent:-2.2em;
}
p.NLL1 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:16px;
	margin-left:3.6em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:-2.2em;
}
p.NTX {
	font-size:0.833em;
	font-style:normal;
	font-weight:normal;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0em;
	margin-left:2.4em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-2.4em;
}
p.SB1 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.SB2 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.TB {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0.50em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.TCH {
	font-size:0.942em;
	font-style:normal;
	font-weight:600;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.TNI1 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.TNI2 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.TX {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.4em;
}
p.UL {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:2.4em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:-1em;
}
p.ULF {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:2.4em;
	margin-right:1.4em;
	margin-top:16px;
	text-align:left;
	text-decoration:none;
	text-indent:-1em;
}
p.ULL1 {
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:16px;
	margin-left:2.4em;
	margin-right:1.4em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:-1em;
}
p.VLL1 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:16px;
	margin-left:3.8em;
	margin-right:2.4em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:-1.4em;
}
p.fm_sig {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:16px;
	text-align:right;
	text-decoration:none;
	text-indent:0em;
}
p.fm_sig2 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:right;
	text-decoration:none;
	text-indent:0em;
}
p.glos_txf_ahd {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:1.4em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-1.4em;
}
p.intro_tx_ahd {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
span.cn {
	font-style:normal;
	font-weight:normal;
}
span.sym {
	font-style:normal;
	font-weight:normal;
}
span.ePub-B-U {
	font-style:normal;
	font-weight:bold;
	text-decoration: underline;
}
span.ix_accent {
	font-style:normal;
	font-weight:normal;
}
p.ATH {
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.ATNI2 {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.ATNI {
	font-size:0.942em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:16px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.CRTT {
	font-size:0.708em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:70px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.CRT {
	font-size:0.708em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.CRT2 {
	font-size:0.708em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:11px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
ul.ind {
    padding-top : 0em;
    padding-right: 0em;
    padding-bottom : 0em;
    padding-left : 0em;
    margin-top : 0em;
    margin-right : 0em;
    margin-bottom : 0em;
    margin-left : 0em;
    list-style-type : none;
}
ul {
    padding-left: 0em;
    margin-left: 0em;
}
small {
    font-size: 85%;
}
blockquote {
    margin: 0em 0em 0em 0em;
}
sup {
    vertical-align: super;
    font-size: 0.65em;
    vertical-align: 35%;
}
sub {
    vertical-align: sub;
    font-size: 0.65em;
    vertical-align: -18%;
}
ol.toc {
    padding-top : 0em;
    padding-right: 0em;
    padding-bottom : 0em;
    padding-left : 0em;
    margin-top : 0em;
    margin-right : 0em;
    margin-bottom : 0em;
    margin-left : 0em;
    list-style-type : none;
}
figure.TIT {
	    display: block;
	    margin-bottom: 0.00em;
	    margin-top: 0.00em;
	    text-indent: 0.00em;
	    margin-right: 0.00em;
	    margin-left: 0.00em;
	    text-align: center;
    }
hr.transition {
	background: url('../images/asterisks.jpg') no-repeat center;
	height: 1em;
	border: none;
	margin: 1em 0em 1em 0em;
}
th.Basic-Table {
	margin-bottom:0px;
	margin-top:0px;
	border-bottom: 1px solid #000000;
}
figure.table {
	display: block;
	margin-top: 1.50em;
	margin-bottom: 1.50em;
	margin-left: 0em;
	margin-right: 0em;
	text-align: center;
}
ol.none
{
	list-style-type:none;
}
h1.CHAPTER {
	font-size:100%;
	margin:0em;
	text-indent:0em;
	display:inline;
}


p.fut_tit {
	display: block;
	text-align: center;
	text-indent: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.fut_toc {
	font-weight: normal;
	font-style: normal;
	font-size: 0.90em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	margin: 0em 0em 0em 0em;
}
p.fut_toc1 {
	font-weight: normal;
	font-style: normal;
	font-size: 0.90em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	margin: 0em 0em 1.50em 0em;
}
p.fut_logo {
	font-weight: normal;
	font-style: normal;
	font-size: 1.31em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	margin: 1.20em 0em 1.20em 0em;
}

img.epub {
	display: inline;
	width: 7em;
}
img.epub1 {
	width: 2.35em;
	display: inline;
}
img.sign-up {
	display: none;
}
img.fb {
	display: none;
}
@media amzn-kf8 {
	img.epub {
		display: none;
	}
	img.epub1 {
		display: none;
	}
	img.sign-up {
		width: 3.5em;
		display: inline;
	}
	img.fb {
		width: 1em;
		display: inline;
	}
}
@media amzn-mobi {
	img.epub {
		display: none;
	}
	img.epub1 {
		display: none;
	}
	img.sign-up {
		width: 3.5em;
		display: inline;
	}
	img.fb {
		width: 1em;
		display: inline;
	}
	sup {
		vertical-align: super;
		font-size: 0.65em;
	}
	sub {
		vertical-align: sub;
		font-size: 0.65em;
	}
}
p.CAP {
	font-size:0.85em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
