.AU {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: left;
    text-indent: 0
    }
.BLF {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -1em
    }
.BLL {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.BLM {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.BULL {
    color: rgb(147, 149, 152)
    }
.BXNL {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.BXTXT {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.Bib {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.CASEHD {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.CN {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: -2em;
    text-align: center;
    text-indent: 0
    }
.CPY-BOX {
    border-style: solid;
    border-width: thin;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: center
    }
.CPY-TXT {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.CPY-TXT-CEN {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.CT {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.DED {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8em;
    text-align: center;
    text-indent: 0
    }
.EXT {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.EXTF {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: -1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.FMCT {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.H {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.H1no {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.H2belowH {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.HALF {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 50%
    }
.Indexmain {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -2em
    }
.Indexsub {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -2em
    }
.KP {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.LA {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6em;
    text-align: left
    }
.NLF {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -1em
    }
.NLFS {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -1em
    }
.NLL {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.NLL1 {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.5em
    }
.NLM {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.5em
    }
.NLMS {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.SUMTXL {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 2em
    }
.TB {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.TBF {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: left;
    text-indent: 0
    }
.TBL {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.25em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.TBNLF {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.5em
    }
.TCH {
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: left;
    text-indent: 0
    }
.TITLE {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.TNTT {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.TOCCT {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -1.5em
    }
.TOCFMEM {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.TOCH {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.5em
    }
.TOCH1 {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 5em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -2em
    }
.TOCPART {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -4em
    }
.TX {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 2em
    }
.TXF {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.TXF1 {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.TXFL {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.TXL {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 2em
    }
.TXR {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.alpha {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: -2em
    }
.black {
    color: rgb(0, 0, 0)
    }
.blue {
    color: blue
    }
.blue1 {
    color: blue;
    font-style: italic
    }
.blue2 {
    color: blue;
    font-weight: bold
    }
.blue3 {
    color: blue;
    font-style: italic;
    font-weight: bold
    }
.bold {
    font-weight: bold
    }
.boldital {
    font-style: italic;
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    text-align: center
    }
.calibre10 {
    font-size: 0.91667em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre12 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    font-size: 1em;
    line-height: normal;
    vertical-align: sub
    }
.calibre14 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre2 {
    height: auto;
    width: 100%
    }
.calibre3 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre4 {
    background-color: rgb(231, 231, 232);
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: center
    }
.calibre5 {
    display: block
    }
.calibre6 {
    height: auto;
    width: auto
    }
.calibre7 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre8 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre9 {
    display: table-row;
    vertical-align: inherit
    }
.ital {
    color: rgb(0, 0, 0);
    font-style: italic
    }
.ital1 {
    font-style: italic
    }
.line {
    border-bottom: solid;
    border-width: thin;
    display: block;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center
    }
.line1 {
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    display: block;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center
    }
