KOMODO_DATABASE_PASSWORD={{ infisical:///KOMODO_DATABASE_PASSWORD }}
KOMODO_DATABASE_USERNAME={{ infisical:///KOMODO_DATABASE_USERNAME }}
KOMODO_INIT_ADMIN_USERNAME={{ infisical:///KOMODO_INIT_ADMIN_USERNAME }}
KOMODO_INIT_ADMIN_PASSWORD={{ infisical:///KOMODO_INIT_ADMIN_PASSWORD }}
PERIPHERY_ONBOARDING_KEY={{ infisical:///PERIPHERY_ONBOARDING_KEY }}
