KOMODO_DATABASE_PASSWORD={{ '{{' }} infisical:///KOMODO_DATABASE_PASSWORD {{ '}}' }}
KOMODO_DATABASE_USERNAME={{ '{{' }} infisical:///KOMODO_DATABASE_USERNAME {{ '}}' }}
KOMODO_INIT_ADMIN_USERNAME={{ '{{' }} infisical:///KOMODO_INIT_ADMIN_USERNAME {{ '}}' }}
KOMODO_INIT_ADMIN_PASSWORD={{ '{{' }} infisical:///KOMODO_INIT_ADMIN_PASSWORD {{ '}}' }}
PERIPHERY_ONBOARDING_KEY={{ '{{' }} infisical:///PERIPHERY_ONBOARDING_KEY {{ '}}' }}
KOMODO_PASSKEY={{ '{{' }} infisical:///PERIPHERY_ONBOARDING_KEY {{ '}}' }}
MONGO_INITDB_ROOT_USERNAME={{ '{{' }} infisical:///KOMODO_DATABASE_USERNAME {{ '}}' }}
MONGO_INITDB_ROOT_PASSWORD={{ '{{' }} infisical:///KOMODO_DATABASE_PASSWORD {{ '}}' }}
KOMODO_LOCAL_AUTH={{ komodo_local_auth | default(true) | string | lower }}
KOMODO_HOST={{ komodo_host }}
KOMODO_OIDC_ENABLED=true
KOMODO_OIDC_PROVIDER=https://auth.cianfhoghlaim.ie
KOMODO_OIDC_CLIENT_ID={{ '{{' }} infisical:///KOMODO_OIDC_CLIENT_ID {{ '}}' }}
KOMODO_OIDC_CLIENT_SECRET={{ '{{' }} infisical:///KOMODO_OIDC_CLIENT_SECRET {{ '}}' }}
KOMODO_OIDC_USE_FULL_EMAIL=true
KOMODO_DISABLE_USER_REGISTRATION={{ komodo_disable_user_registration | default(false) | string | lower }}
KOMODO_ENABLE_NEW_USERS={{ komodo_enable_new_users | default(true) | string | lower }}
KOMODO_DISABLE_NON_ADMIN_CREATE={{ komodo_disable_non_admin_create | default(false) | string | lower }}
