
body {
  margin: 0;
  background-color: #767676;
  color: #333333;
}

div.paper {
  /*margin-left: 4em;*/
  /*width: 37em;*/
  margin-left: 3%;
  width: 94%;
  max-width: 47em;
  background-color: #C2D1FF;
  padding: 0em;
}

div.content {
  /*margin-top: -1.34em;*/
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  padding-left: 2em;
  padding-right: 2em;
}



div.info {
  font-size: 0.8em;
}

ul.navbar {
  background-color: #1F3D99;
  border-bottom: 0px solid #0C183D;
  color: white;
  padding-left: 0.6em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 1.0em;
}

ul.navbar>li {
  margin-left: 0em;
  margin-right: 1em;
  display: inline;
  font-weight: bold;
}

ul.navbar>li:first-child {
  color: #FFFF4D;
  /*font-style: italic;*/
}

div.mainlist {
  margin-left: 2em;
  width: 37em;
}

span.resource {
  background-color: #FFFF80;
  border-radius: 5px;
  padding: 0.0em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}



ul.linklist {
  list-style-type: none;
  margin-left: 2em;
  margin-top: -0.5em;
  padding-left: 0em;
  width: 27em;
  height: 6.8em;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

ul.linklist>li {
  margin: 0em;
  margin-bottom: 0.3em;
  padding: 0.3em;
  background-color: #F8F8F8;
  border-radius: 3px;
  font-size: 0.8em;
}

div.main {
  position: relative;
  margin: 0.3em;
  padding: 0.3em;
  background-color: #F8F8F8;
  border-radius: 3px;
}

div.key {
  position: absolute;
  /*right: 27.0em;*/
  left: 0.5em;
  color: #1947A3;
  /*color: #0000FF;*/
  font-weight: bold;
  width: 16em;
}

div.value {
  position: relative;
  padding-left: 18em;
}

div.info h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.navbar a {
    text-decoration: none;
}

.navbar a:link {
    color: inherit;
}

.navbar a:visited {
    color: inherit;
}

.navbar a:hover {
    color: #FFFF4D;
}

.navbar a:active {
    color: #FFFF4D;
}

div.paper a:link {
  color: #333333;
}
div.paper a:visited {
  color: #333333;
}
div.paper a:hover {
  color: red;
}
div.paper a:active {
  color: red;
}

span.resource a:link {
  color: blue;
}
span.resource a:visited {
  color: blue;
}

span.resource a:hover {
  color: red;
}
span.resource a:active {
  color: red;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border-style: solid;
  background-color: #1F3D99;
  color: #0C183D;
  border-width: 2px;
}

div.loading, div.error>div {
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: auto;
    padding-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 7px;
    text-align: center;
    font-size: 1.2em;
}

div.loading img {
    margin-right: 0.3em;
}

div.error>div {
    color: red;
}